extends: default.liquid
---
<div >
  <h2>blog.ndenev.com</h2>
  <div>
    {% for post in posts %}
      <div>
          <h4><a href="{{post.path}}">{{ post.title }} - {{ post.date }}</a></h4>
      </div>
    {% endfor %}
  </div>
</div>
