extends: default.liquid
---
<div>
<table>
{% for post in posts %}
    <tr>
        <td>
            <a href="{{post.path}}">{{ post.title }}<br>
            <div id="postDate">{{ post.date }}</div><br>
            <div class="disqus-comment-count" data-disqus-identifier="{{post.path}}"></div>
            </a>
        </td>
    </tr>
{% endfor %}
</table>
</div>

